////
/// Custom SCSS for component-specific styling goes here
////
.notification-component--hide {
	display: none;
}

.hide-visibility {
    visibility: hidden;
}

.center-align {
    text-align: center;
}

.decoration-none {
    text-decoration: none;
}

.archive-list {
    padding-bottom: 68px;
    border-bottom: 1px solid $pe-color-concrete;
}
.notification-bell--activate {
    display: block;
    height: 100%;
    
    .notification-bell--count {
        background-color: $pe-color-white;
        color: $pe-color-charcoal;
        min-width: 13px;
        height: 14px;
        padding-left: 5px;
        position: relative;
        bottom: 24px;
        left: 8px;
        line-height: 14px;
        border-radius: 3px;
    }

    .notification-bell--new {
        background-color: $pe-color-hot-pink;
        color: $pe-color-white;
    }
}


.notification-container {
    position: relative;
}

.notification-content {
    position:relative;

    .content-list {
        overflow-y: hidden;
    }
}

.notification-title {
    border-bottom: 1px solid $pe-color-concrete;
    overflow: auto;
    background-color: $pe-color-moonlight;
    .notification-title--heading1 {
        margin: 21px 10px;
    }
    .notification-title--heading2 {
        margin: 20px 10px;
        display: block;
        div {
            display: inline-block;
            margin-top: 3px;
        }
    }
	.close-dropdown {
		float:right;
        margin: 25px 13px 20px 20px;
	}
}

.bottom-archive {
    border-bottom: none;
    border-top: solid 1px #b3b3b3;
    width:100%;
    margin-top: -1px;
    position: absolute;
}

.notifications--close {
    position: absolute;
    top: 15px;
    right: 20px;
}

.notification-blank-page-heading {     
    margin: 29px 0 0 0;       
}      
.notification-blank-page-description {     
    padding: 18px 0 0 0;       
}      


.pointer:hover{
	cursor: pointer;
}

.notification-node {
    height: 154px;
    border-bottom: solid 1px #b3b3b3;
    padding: 20px;
    background-color: $pe-color-white;
    position: relative;

    .notification-node--details {
	    cursor: pointer;
        float: left;
        width: 231px;

        .notification-node--summary {
            float: left;
            height: 94px;
            overflow: hidden;
            cursor: default;
            padding: 5px 0px 0 3px;
            h2 {
                height: 46px;
            }

            .notification-node--summary-description {
                overflow: hidden;
            }
        }
    }

    .notification-node--dismiss {
        position: absolute;
        top: 60px;
        z-index: 1;
        right: 20px
    }

    .notification-node--meta {
        clear: left;
        cursor: default;
        .notification-node--meta-course {
            float:left;
            height: 32px;
            overflow: hidden;
            padding: 10px 10px 0 10px;
        }

    }
}

.notification-node--isread {
    background-color: $pe-color-white-gray;
}

.notification-details {
    padding: 20px;
    border-bottom: 1px solid $pe-color-concrete;

    .notification-details--title {
        margin: 20px 0;
    }

    .notification-details--body {
        margin-bottom: 20px;
        
    }
    .notification-details--bodytext {
        word-break: break-word;
    }

    .notification-details--button {
        width: 100%;
        margin-bottom: 20px;
    }
    .notification-details-archive--button {
        display: inline-block;
        margin-top: 5px;
    }
}

.transition-middle {
    position: absolute;
    top:0;
    height:100%;
    width:100%;
    left: 0;
    transition: all 0.4s;
    display: block;
}

.transition-to-right {
    position: absolute;
    top: 0;
    height:100%;
    width:100%;
    left: 100%;
    overflow-y: hidden;
    visibility: hidden;
}
.transition-to-left {
    position: absolute;
    top: 0;
    height:100%;
    width:100%;
    left: -100%;
    visibility: hidden;
}

