////
/// Custom SCSS for component-specific styling goes here
////
.hide {
	display: none;
}

.notification-bell {
    color: #CCCCCC;
    font-size: 16px;
}

.notification-title {
    border-bottom: 1px solid #B3B3B3;
    overflow: auto;
    .notification-title--heading {
        float:left;
        border-bottom: none;
        font-size: 16px;
        margin: 20px 0px 20px 20px;
    }

    .notification-title--back {
        color: #0D65A6;
        text-decoration: none;
        .notification-title--back_align {
            position: relative;
            top: -2px;
        }
    }

	.close-dropdown {
		float:right;
        margin: 25px 13px 20px 20px;
	}
}

.notification-list {
    
}

.pointer:hover{
	cursor: pointer;
}

.notification-node {
    height: 134px;
    border-bottom: solid 1px #B3B3B3;

    .notification-node--details {
    	cursor: pointer;
        float: left;
        width: 277px;
        height: 96px;

        .notification-node__summary {
            float:left;

            h1 {
                font-size: 16px;
                margin-left: 20px;
                margin-top: 20px;
                border-bottom: none;
                color: #0D65A6;
                line-height: normal;
                font-weight: bold;
            }
            .notification-node__summary-description {
                margin-left: 20px;
            }
        }
    }

    .notification-node__dismiss {
        float: right;
        margin: 10px;
        cursor: pointer;
    }

    .notification-node__meta {
        font-size: 14px;

        .notification-node__meta-course {
            margin-left: 20px;
            float:left;
        }

        .notification-node__meta-time {
            float:right;
            margin-right: 20px;
        }
    }
}
