////
/// Custom SCSS for component-specific styling goes here
////
.notification-component--hide {
	display: none;
}

.hide-visibility {
    visibility: hidden;
}

.center-align {
    text-align: center;
}

.decoration-none {
    text-decoration: none;
}

.archive-list {
    padding-bottom: 68px;
    .archive-list--heading {
        padding: 25px 0 0 25px;
    }
}

.notification-bell--activate {
    display: block;
    height: 100%;
    
    .notification-bell--count {
        background-color: $pe-color-white;
        color: $pe-color-charcoal;
        min-width: 13px;
        height: 14px;
        padding-left: 5px;
        position: relative;
        bottom: 24px;
        left: 8px;
        line-height: 14px;
        border-radius: 3px;
    }

    .notification-bell--new {
        background-color: $pe-color-hot-pink;
        color: $pe-color-white;
    }
}


.notification-container {
    position: relative;
}

.notification-content {
    position:relative;

    .content-list {
        overflow-y: auto;
    }
}

.notification-title {
    border-bottom: 1px solid $pe-color-concrete;
    overflow: auto;
    .notification-title--heading1 {
        margin: 21px 20px;
        .view-archive-button {
            width: 100%;
        }
    }
    .notification-title--heading2 {
        margin: 20px 10px;
        display: block;
        div {
            display: inline-block;
            margin-top: 3px;
        }
    }
	.close-dropdown {
		float:right;
        margin: 25px 13px 20px 20px;
	}
}

.bottom-archive {
    border-bottom: none;
    border-top: solid 1px #b3b3b3;
    width:100%;
    margin-top: -1px;
    position: absolute;
}

.notifications--close {
    position: absolute;
    top: 20px;
    right: 20px;
    button > span > svg {
        width: 14px;
        height: 14px;
    }
}

.notification-blank-page-heading {     
    margin: 29px 0 0 0;       
}      
.notification-blank-page-description {     
    padding: 18px 0 0 0;       
}      


.pointer:hover{
	cursor: pointer;
}
.new-notification-icon {
    color: $pe-color-hot-pink;
    padding: 0 7px 7px;
    position: absolute;
    top: 25px;
}

.notification-node {
    height: 114px;
    position: relative;

    .notification-node--details {
	    cursor: pointer;
        float: left;
        width: 231px;
        
        .notification-node--summary {
            float: left;
            height: 82px;
            overflow: hidden;
            cursor: default;
            padding-top: 25px;
            .notification-node--summary-title {
                padding-left: 20px;
                a {
                    text-decoration: none;
                    color: $pe-color-charcoal;
                }
            }

            .notification-node--summary-description {
                overflow: hidden;
                color: $pe-color-medium-gray;
                padding-left: 20px;
            }
        }
    }

    .notification-node--dismiss {
        position: absolute;
        top: 80px;
        z-index: 1;
        right: 20px
    }

    .notification-node--meta {
        clear: left;
        cursor: default;
        .notification-node--meta-course {
            float:left;
            height: 32px;
            overflow: hidden;
            padding: 0 25px;
        }

    }
}

.notification-details {
    padding-top: 25px;
    padding-bottom: 20px;

    .notification-details--body--archive {
        float: right;
    }

    .notification-details--body {
        margin-bottom: 20px;
        
    }
    .notification-details--bodytext {
        word-break: break-word;
        p {
            color: $pe-color-medium-gray;
        }
    }

    .notification-details--button {
        width: 100%;
        margin-bottom: 20px;
    }
    .notification-details-archive--button {
        display: inline-block;
        margin-top: 5px;
    }
}

.transition-middle {
    position: absolute;
    top:0;
    height:100%;
    width:100%;
    left: 0;
    transition: all 0.4s;
    display: block;
}

.transition-to-right {
    position: absolute;
    top: 0;
    height:100%;
    width:100%;
    left: 100%;
    overflow-y: hidden;
    visibility: hidden;
}
.transition-to-left {
    position: absolute;
    top: 0;
    height:100%;
    width:100%;
    left: -100%;
    visibility: hidden;
}

